### __Gọi các thư viện cần thiết__

In [2]:
import pandas as pd

### __Khởi tạo tập dữ liệu__

In [3]:
study_hours = [2, 3, 5, 6, 4]
sleep_hours = [8, 7, 6, 5, 6]
results = ['Failed', 'Failed', 'Pass', 'Pass', 'Pass']
grades = [4.5, 5.5, 7.5, 8.5, 7.0]

data = {
    'Study Hours': study_hours,
    'Sleep Hours': sleep_hours,
    'Results': results,
    'Grades': grades
}

df = pd.DataFrame(data)

In [4]:
df

   Study Hours  Sleep Hours Results  Grades
0            2            8  Failed     4.5
1            3            7  Failed     5.5
2            5            6    Pass     7.5
3            6            5    Pass     8.5
4            4            6    Pass     7.0

### __<span style="color: red">Bước 1:</span> Lựa chọn siêu tham số k__